.body           {
    background-color: beige;"
}
.hr             {
    margin-left:      40px;
    width:            1220px;
    alignment:        left;

}
.div_base       {
    margin-left:      30px;
    padding-left:     15px;
    border:           3px  lightblue solid;
    border-radius:    6px;
    background-image: url(../pictures/bg4v.jpg);
    background-size:  contain;


    box-shadow:       15px 15px  15px grey;
}
.div_base:hover {
    box-shadow:       15px 15px  15px;
}
.div_A          {
    width:            400px;
    height:           258px;
    background-image: url(../pictures/bg_flower1.jpg);
}
.div_A:hover    {
    background-image: url(../pictures/bg4h.jpg);
    box-shadow:       15px 15px  15px;
}
.div_B          {
    margin-top:       25px;
    width:            400px;
    height:           640px;
}
.div_B hr       {
    margin-left:      5px ;
    height:           1px;
    width:            80%;
}
.div_C          {
     width:           400px;
     height:          950px;
 }
.div_D          {
    width:            400px;
    height:           255px;
    padding-top:      10px;
    background-image: url(../pictures/cottonh.jpg);
    text-align:       center;
}
.div_D:hover    {
    background-image: url(../pictures/bg4h.jpg);
    box-shadow:       15px 15px 15px;
}
.div_E          {
    width:            280px;
    height:           530px;
    background-image: url(../pictures/cottonv.jpg);
    color:            navajowhite  ;
}
.div_E:hover    {
    background-image: url(../pictures/bg4v.jpg);
    box-shadow:       15px 15px 15px;
    color:            black  ;
}
.p1             {
    font-size:        30px;
    text-decoration:  underline  ;
    color:            navajowhite;
}
.p2             {
    width:            50px;
    border:           4px darkred;
    border-style:     inset;
    font-style:       italic ;
    font-weight:      bold;
    color:            darkblue ;   /*Цвет шрифта */
    background-color: lightblue;   /*Цвет фона шрифта */
    padding-left:     40px;         /*Отступ текста слева */
}